
<VirtualHost $IP_ADDRESS_SERVER$:8080>
    ServerName $HOSTNAME$
    DocumentRoot $PATH_TO_FILES_SERVER$/web/public/$VERSION$
    Alias /dav/ $PATH_TO_FILES_SERVER$/web/dav/
    Alias /upload/ $PATH_TO_FILES_SERVER$/web/dav/
    CustomLog $PATH_TO_FILES_SERVER$/logs/$HOSTNAME$/request.bytes bytes
    CustomLog $PATH_TO_FILES_SERVER$/logs/$HOSTNAME$/request.log combined
    ErrorLog $PATH_TO_FILES_SERVER$/logs/$HOSTNAME$/error.log
</VirtualHost>
